.page {
  background: url(../images/cover-image-dark.png), rgb(61, 58, 58);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size, 18px);
}

.header {
  position: relative;
  display: grid;
  inline-size: 100%;
  block-size: 100vb;
  margin-block-end: 40px;
}

.header__decorated-element {
  position: absolute;
  justify-self: flex-end;
  color: var(--decoration-color);
  font-weight: 400;
  line-height: 1.5625rem;
  inset-block-start: var(--small-gap, 10px);
  inset-inline-end: 38px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-start: var(--small-gap, 10px);
  inset-inline-end: var(--small-gap, 10px);
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-end: var(--small-gap, 10px);
  inset-inline-start: var(--small-gap, 10px);
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
}

.header__decorated-element::before {
  content: "";
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -18px;
  background-color: var(--decoration-color);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decoration-color); 
}

.header__theme-menu {
  justify-self: right;
  margin: 11.22vb var(--small-gap, 10px) 3.7vb auto;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--decoration-color);
  background: transparent;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  font-family: var(--main-font);
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-effect-color);
  cursor: pointer;
} 

.header__theme-menu-button:focus, .decorated-word:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decoration-color);
}

.header__title {
  text-shadow: 0.25rem 0.25rem 0px var(--title-shadow-color);
}

.decorated-title {
  color: var(--title-color);
  font-size: clamp(7.25rem, calc(7.0115rem + 1.0178vw), 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__description {
  color: var(--paragraph-title-color);
  background: var(--accent-color);
  font-weight: 700;
  line-height: 130%;
  margin: 0 var(--small-gap, 10px) auto;
  max-height: fit-content;
}

.content {
  background: var(--background-color);
}

section {
  padding: 0 var(--small-gap, 10px);
}

section:not(:last-of-type) {
  margin-block-end: 50px;
}

section:last-of-type {
  margin-block-end: 40px;
}

.section__title {
  color: var(--decoration-color);
  font-size: inherit;
  margin-block-end: var(--large-gap, 20px);
  line-height: 130%;
}

.paragraph_title {
  background: var(--accent-color);
  color: var(--paragraph-title-color);
  font-size: inherit;
  font-weight: 700;
  margin: var(--large-gap, 20px) 0 10px;
  line-height: 130%;
}

.paragraph {
  color: var(--text-color);
  font-size: inherit;
  inline-size: 98.8%;
  line-height: 130%;
}

.tips__paragraph_title {
  margin-block-end: var(--small-gap, 10px);
}

.decorated-word {
  text-shadow: 0.09rem 0.065rem 0px var(--accent-color);
  text-decoration: none;
}

.decorated-word:hover {
  border-bottom: 1px solid var(--text-color)
}

.decorated-word:focus-visible {
  outline: 1px solid var(--text-color);
}

.tips .paragraph_title:not(.tips__paragraph_title) {
  margin-block-start: 0;
}

.tips__paragraph_title {
  font-weight: 400;
}

.pictures {
  gap: var(--small-gap, 10px);
}

.picture:not(:last-of-type) {
  margin-block-end: var(--small-gap, 10px);
}

.pictures > .paragraph_title {
  margin-block-end: var(--small-gap, 10px);
}

.pictures_container {
  display: flex;
  flex-direction: column;
}

.footer {
  block-size: 100vb;
  inline-size: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 0.125rem 0.125rem 0 var(--title-shadow-color);
}

@media (prefers-color-scheme: light) {

  :root {
    --background-color: #FFF1F7;
    --paragraph-title-color: #353430;
    --decoration-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --title-shadow-color: #FF8DCB;
    --hover-button-effect-color: rgba(53, 52, 48, 0.40);
  }
  
  .page {
    background: url(../images/cover-image-light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  .header__decorated-element {
    display: none;
  }
  
  } 

  @media (prefers-color-scheme: light) and (width >= 1024px) {
    .decorated-title {
      text-shadow: 4px 4px 0px #FF8DCB;
    }
  }

  @media (prefers-color-scheme: dark) {
    .page {
      background: url(../images/cover-image-dark.png), rgb(61, 58, 58);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
    
  .header__decorated-element {
    display: block;
  }
  
  }

@media (width >= 768px) {
  .header {
    margin-block-end: 0;
  }

  .header__theme-menu {
    margin: 18.75vb 1.25rem 16.9vb auto;
  }

  .header__decorated-element {
    inset-block-start: var(--large-gap, 20px);
    inset-inline-end: 48px;
  }
  
  .decorated-zone::after {
    inset-block-start: var(--large-gap, 20px);
    inset-inline-end: var(--large-gap, 20px);
  }

  .decorated-zone::before {
    inset-block-end: var(--large-gap, 20px);
    inset-inline-start: var(--large-gap, 20px);
  }

  .decorated-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    inline-size: 47.5vi;
    margin: 15.8vb 1.25rem 17.87vb auto;
  }

  section {
    padding: 0 var(--large-gap, 20px);
  }

  section:not(:last-of-type) {
    margin-block-end: 80px;
  }

  section:last-of-type {
    margin-block-end: 60px;
  }

  .paragraph {
    margin: 0;
    padding: 0;
    inline-size: 100%;
  }

  .why {
    display: grid;
    grid-template-columns: 32% 66%;
    gap: var(--large-gap, 20px);
    padding-block-start: 60px;
  }
  
  .why li:first-of-type .paragraph_title {
    margin-block-start: 0;
  }

  .concentration .section__title {
    inline-size: 120px;
  }

  .tips {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--large-gap, 20px);
    inline-size: 100%;
  }

  .tips__paragraph_title {
    font-weight: 400;
    margin-block-start: var(--large-gap, 20px);
  }

  .pictures {
    padding: 0 var(--large-gap, 20px);
  }

  .pictures .paragraph_title {
    margin-block-end: var(--large-gap, 20px);
  }

  .pictures_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 23.8% 28.6% 39.8%; /* 26% 31% 43% */
    gap: var(--large-gap, 20px);
  }

  .picture:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .picture:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .picture:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .picture:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .picture:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 3/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin: var(--large-gap, 20px) 0 35.2vb 0;

  }
  .header__theme-menu-list {
    flex-direction: row;
    margin: 0;
  }

  .header__description {
    justify-self: end;
    margin: 14.8vb 1.25rem 17.4vb auto;
  }

  .header__title {
    justify-self: start;
  }

  .decorated-title {
    font-size: 157px;
  }
  
  .paragraphs_list_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--large-gap, 20px);
  }

  .concentration .section__title {
    inline-size: 25%;
  }

  .concentration .paragraph_title {
    margin-block-start: 0;
  }
}